*.o
*.i
*.s
*.dSYM
soach
core
tags
src/.deps/
.deps/
src/*.o
src/soach
src/Makefile
src/Makefile.in
autom4te.cache/
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
